{% extends 'base.html' %}

{% block main%}
    <div class="min-h-[200vh] text-white flex  flex-col items-center">
        <p>
            Lorem ipsum dolor sit amet WORK IN PROGRESS.... Quisquam, quos.
        </p>
        <p>
            Lorem ipsum dolor sit amet WORK IN PROGRESS.... Quisquam, quos.
        </p>
        <p>
            Lorem ipsum dolor sit amet WORK IN PROGRESS.... Quisquam, quos.
        </p>
        <p>
            Lorem ipsum dolor sit amet WORK IN PROGRESS.... Quisquam, quos.
        </p>
        <img src="https://4kwallpapers.com/images/wallpapers/macos-big-sur-apple-layers-fluidic-colorful-wwdc-stock-2880x1800-1455.jpg" alt="macos wallpaper" class="w-100 ">
    </div>
{% endblock %}