<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/output.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Sunshiney&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %} </title>
    <meta name="description" content="portfolio of asheshjyoti">
    
    {% endblock %}
</head>
<body class="bg-[oklch(13%_0.028_261.692)] font-['JetBrains_Mono',monospace]">
    <header>
      <nav class="grid grid-cols-3 items-center text-xl text-white px-4 py-6 sticky top-0 z-50">

        <a href="{{ url_for('portfolio_home')}}" class="font-[Sunshiney,cursive] text-2xl justify-self-start" >asheshjyoti</a>

        <div class="flex items-center gap-6 rounded-full bg-[oklch(55.6%_0_0)]/10 px-4 py-2 backdrop-blur-sm border border-[oklch(37.8%_0.015_216)] justify-self-center whitespace-nowrap ">
          <a href="#" class="hover:text-emerald-300 transition delay-150 duration-300 ease-in-out">Home</a>
          <a href="#" class="hover:text-emerald-300 transition delay-150 duration-300 ease-in-out">/work</a>
          <a href="#" class="hover:text-emerald-300 transition delay-150 duration-300 ease-in-out">about</a>
          <a href="#" class="hover:text-emerald-300 transition delay-150 duration-300 ease-in-out">builds</a>
          <a href="#" class="hover:text-emerald-300 transition delay-150 duration-300 ease-in-out">thoughts</a>  
          <a href="#" class="hover:text-emerald-300 transition delay-150 duration-300 ease-in-out">hi!</a>
        </div>

        <div class="justify-self-end flex">
          <a href="#">current time zone</a>
          <a href="#">mail</a>
        </div>
      </nav>

      <main>
        {% block main %}
        {% endblock %}
      </main>
    </header>
    
        
</body>
</html>
